*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

body{
    background-color: rgb(56, 25, 56);
    height: 100vh;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box{
    background-color: aliceblue;
    height: 200px;
    width: 400px;
  border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    user-select: none;
    cursor: pointer;
}
    

.frame{
   display: flex;
}

.hrs,
.min,
.sec,
.ms,
.colon{

    width: 50px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
  
}
.colon{
    width:10px;
    height:10px;

}

.button{
    margin-top: 25px;
}
.button button{
    border: none;
    padding: 10px 30px;
    color: black;
    border-radius: 5px ridge black;
    text-transform: uppercase;

}

.start{
    background-color: wheat
}
.stop{
    background-color: wheat;
}
.reset{
    background-color: wheat;
}

.start-active,
.stop-active{
    pointer-events: none;
    opacity: 0.5;
}
h3{
    font-weight: 500;
    margin-bottom: 25px;
    text-transform: uppercase;
    color:#130f40;
}